/*
  allow to quickly style the index.html before the full app loads, and avoid
  flashes during refreshes
*/
body.dark {
  /* bg-slate-900 */
  background-color: #0f172a;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
